<div id="sidebar" class="sidebar responsive ">

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="active">
            <a href="#">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="/Admin/Department/Index">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Khoa/Viện </span>
            </a>
        </li>

        <li class="">
            <a href="/Admin/Semester/Index">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Học kỳ </span>
            </a>
        </li>

        <li class="">
            <a href="/Admin/Subject/Index">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Môn học </span>
            </a>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Lớp học </span>
            </a>
        </li>

        <li class="">
            <a href="/Admin/Teacher/Index">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Giảng viên </span>
            </a>
        </li>

        <li class="">
            <a href="/Admin/StudentClass/Index">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Lớp sinh viên </span>
            </a>
        </li>

        <li class="">
            <a href="/Admin/Student/Index">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Sinh viên </span>
            </a>
        </li>

        <li class="">
            <a href="/Admin/TrainingMajor/Index">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Định hướng thực tập </span>
            </a>
        </li>

        <li class="">
            <a href="/Admin/Company/Index">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Công ty liên kết </span>
            </a>
        </li>

        <li class="">
            <a href="/Admin/CompanyTrainingMajor/Index">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Ngành thực tập của công ty </span>
            </a>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">
                    Quy trình thực tập
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Nguyện vọng thực tập
                    </a>
                </li>

                <li class="">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Nhóm thực tập
                    </a>
                </li>

                <li class="">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Kết quả thực tập
                    </a>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="/Admin/Admin/Index">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Quản sinh </span>
            </a>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Tin tức/Thông báo </span>
            </a>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Thống kê/Báo cáo </span>
            </a>
        </li>

    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>