<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
        <title>homepage - Trang quản lý thực tập</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	    <link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css" />
	    <link rel="stylesheet" href="assets/css/jquery-ui.custom.min.css">

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="assets/css/fonts.googleapis.com.css" />

		<!-- styles -->
	    <link rel="stylesheet" href="assets/css/site.css" />
	    <link rel="stylesheet" href="assets/css/site2.css" />

		<!-- settings handler -->
		<script src="assets/js/site-extra.js"></script>

	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default">
			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="homepage.html" class="navbar-brand">
					    <div id="site-logo">
					        <img src="assets/images/placeholder/logo.jpg"/>
					        <div id="site-name">
					            <h3>Trường Đại học Bách Khoa Hà Nội</h3>
					            <h4>Trang quản lý thực tập</h4>
					        </div>
					    </div>
                        
					</a>
				</div>
            
			    <div class="navbar-header pull-right" id="site-header-form">
			        <div class="nav-search" id="nav-search">
			            <form class="form-search">
			                <span class="input-icon">
			                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off"/>
			                    <i class="ace-icon fa fa-search nav-search-icon"></i>
			                </span>
			            </form>
			        </div>
                
			        <div class="btn btn-app btn-lg btn-warning">Login</div>
			    </div>
			    
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container" id="main-container">
			
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
						</ul><!-- /.breadcrumb -->

						
					</div>

				    <div class="page-content">
				        <div class="container">
				            <div class="page-header">
				                <h1 id="newslist-header">
				                    Tin tức - Thông báo
				                </h1>
				            </div>
				            <div class="row">
				                <div id="news-list">
				                    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
				                        <li class="active">
				                            <a data-toggle="tab" href="#home4" aria-expanded="true">Home</a>
				                        </li>

				                        <li class="">
				                            <a data-toggle="tab" href="#profile4" aria-expanded="false">Profile</a>
				                        </li>

				                        <li class="">
				                            <a data-toggle="tab" href="#dropdown14" aria-expanded="false">More</a>
				                        </li>
				                    </ul>

				                    <div class="tab-content">
				                        <div id="home4" class="tab-pane active">
				                            
				                        </div>

				                        <div id="profile4" class="tab-pane">
				                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
				                        </div>

				                        <div id="dropdown14" class="tab-pane">
				                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Duc Tran</span>
							Hệ thống quản lý thực tập &copy; 2013-2014
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<script src="assets/js/jquery-ui.custom.min.js"></script>
		<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="assets/js/jquery.easypiechart.min.js"></script>
		<script src="assets/js/jquery.sparkline.index.min.js"></script>
		<script src="assets/js/jquery.flot.min.js"></script>
		<script src="assets/js/jquery.flot.pie.min.js"></script>
		<script src="assets/js/jquery.flot.resize.min.js"></script>

		<!-- ace scripts -->
		<script src="assets/js/site-elements.js"></script>
		<script src="assets/js/site.js"></script>

	</body>
</html>
