@model StudentInternshipManagement.Services.ViewModel.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quên mật khẩu?";
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container">
            <div class="position-relative">
                <div id="forgot-box" class="forgot-box visible widget-box no-border">
                    <div class="widget-body">
                        <div class="widget-main">
                            <h4 class="header red lighter bigger">
                                <i class="ace-icon fa fa-key"></i>
                                Gửi link reset mật khẩu
                            </h4>

                            <div class="space-6"></div>
                            <p>
                                Nhập email tài khoản
                            </p>
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new {@class = "text-danger"})
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        <input type="email" class="form-control" placeholder="Email" name="Email" id="Email"/>
                                        <i class="ace-icon fa fa-envelope"></i>
                                    </span>
                                </label>

                                <div class="clearfix">
                                    <button type="submit" class="width-70 pull-right btn btn-sm btn-danger">
                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                        <span class="bigger-110">Gửi link reset mật khẩu!</span>
                                    </button>
                                </div>
                            }
                        </div><!-- /.widget-main -->

                        <div class="toolbar center">
                            <a href="Login" data-target="#login-box" class="back-to-login-link">
                                Quay về trang đăng nhập
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div><!-- /.widget-body -->
                </div><!-- /.forgot-box -->

            </div><!-- /.position-relative -->


        </div>
    </div><!-- /.col -->
</div><!-- /.row -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/site/login.js")
}