@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quên mật khẩu?";
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container">
            <div class="position-relative">
                <div id="forgot-box" class="forgot-box visible widget-box no-border">
                    <div class="widget-body">
                        <div class="widget-main">
                            <p>
                                @Html.Raw(TempData["ForgotPasswordStatus"])
                            </p>
                        </div><!-- /.widget-main -->

                        <div class="toolbar center">
                            <a href="/Home/Index" data-target="#login-box" class="back-to-login-link">
                                Quay về trang chủ
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div><!-- /.widget-body -->
                </div><!-- /.forgot-box -->

            </div><!-- /.position-relative -->


        </div>
    </div><!-- /.col -->
</div><!-- /.row -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/site/login.js")
}