@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Homepage - Trang quản lý thực tập";
    string message = ViewBag.Message ?? string.Empty;
}

@section Kendo {
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/Script/kendo")
}

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
        </ul><!-- /.breadcrumb -->


    </div>

    <div class="page-content">
        <div class="container">
            <div class="page-header">
                <h1 id="newslist-header">
                    Tin tức - Thông báo
                </h1>
            </div>
            <div class="row">
                <div id="news-list">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                        <li class="active">
                            <a data-toggle="tab" href="#home" aria-expanded="true">Home</a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#profile" aria-expanded="false">Sinh viên</a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#dropdown" aria-expanded="false">More</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane active">
                            @{ Html.RenderAction("Index", "News", new{areas=""}); }
                        </div>

                        <div id="profile" class="tab-pane">
                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
                        </div>

                        <div id="dropdown" class="tab-pane">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.page-content -->

    @(Html.Kendo().Dialog()
                          .Name("messageDialog")
                          .Title("Notification")
                          .Content(message)
                          .Width(400)
                          .Modal(true)
                          .Actions(actions =>
                          {
                              actions.Add().Text("OK");
                          })
    )
</div>

@section Scripts {
    <script>
        $(document).ready(
            function showDialog() {
                $('#messageDialog').data("kendoDialog").open();
            }

        @if (!string.IsNullOrEmpty(message))
        {
            @:showDialog();
        }
        );
    </script>
}